//- template us 
//- layout.pug is available online
doctype html
html
  head
    title Amogh Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul 
            div#logo 
                img(src="/static/i1.webp")
                | ADA 
            li #[a(href="/") Home ]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class-info]
            li #[a(href="/contact") Contact-Us]
    block content
    footer#footer 
      | Copyright © 2022 AmoghDanceAcademy.com | All rights reserved